/**
 * DokuWiki Plugin ExtList; _description.less
 * @author     Satoshi Sahara <sahara.satoshi@gmail.com>
 */

/* --------------------------------------------------------
 *  Description list - generic
 * --------------------------------------------------------
 */
div.wrap_box {
  dl.generic {
    border-bottom: none !important;
    >dt:first-child {
      border-top: none !important;
    }
  }
}
dl dd p {
  margin-top: 0.2em;
  margin-bottom: 0;
}
dl.generic {
  margin: .4em 0;
  padding: 1px 0 .5em 0;
  border-bottom: 1px dotted #bbb;
  &::after {
    content: "";
    display: block;
    clear: left;
    height: 0;
    visibility: hidden;
  }
  dd {
    position: relative;
    margin-left: 10.6em;
    margin-top: .5em;
    margin-bottom: .5em;
    // background-color: rgba(0,0,255,.1);
  }
  dt {
    position: relative;
    margin-top: 0;
    font-weight: normal;
    text-shadow: 1px 1px 3px rgba(0,0,0,.2);
    span {
        display: inline-block;
        position: relative;
        margin-top: .5em;
        padding-left: .2em;

        &::after { // ??? ::after?
          display: block;
          position: absolute;
          content: "◸";
          top: 0em;
          left: -.5em;
          color: #bbb;
          font-size: x-small;
   	    }
    }
    &.compact {
      span {
        clear: left;
        float: left;
        max-width: 9em;
      }
    }
    &:has(+dt) {
      margin-bottom: 0 !important;
    }
    &+dt {
      border-top-style: none;
    }
  }
  dd+dt {
    border-top: 1px dotted #bbb;
    margin-bottom: .5em;
    clear: left;
  }
  &>dt {
    border-top: 1px dotted #bbb;
  }
}

